@import url("@site/src/pages/index.module.css");

.features {
  display: flex;
  align-items: center;
  padding: 2rem 2rem;
  width: 100%;
}

.featureSvg {
  height: 200px;
  width: 200px;
}
.feautureTitle {
  letter-spacing: -0.1rem;
  font-size: 2rem;
  font-weight: 500;
}
.feautureParagraph {
  letter-spacing: -0rem;
  font-size: 1rem;
  font-weight: 400;
}

.row {
  display: flex;
  flex-direction: row;
}

.feautureCard {
  border-radius: 16px;
  padding-top: 2rem;
  padding-bottom: 2rem;
  transition: all 0.05s ease-in;
}
.feautureCard:hover {
  background-color: var(--rally-hover);
}

a {
  color: var(--rally-text-color);
}
a:hover {
  text-decoration: none;
  color: var(--rally-text-color);
}
