.heroVideo {
  position: absolute;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: 0;
  width: 100%;
}

.containerBanner {
  z-index: 10;
  position: relative;
}

.heroBanner {
  padding: 8rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  background-color: var(--rally-color-primary);
  color: var(--rally-text-color);
}

.heroTitle {
  letter-spacing: -0.3rem;
  font-size: 3.5rem;
  font-weight: 500;
}
.heroSubTitle {
  letter-spacing: -0.05rem;
  font-size: 1.5rem;
  font-weight: 400;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}
